<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://kit.fontawesome.com/5c958098af.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/png" href="images/logo.png"/>